html {
  --dark-color: rgb(55 54 71);
  --light-color: rgb(215 215 215);

  background-color: var(--dark-color);
  color: var(--light-color);
  height: 100vh;
  width: 100vw;
}

.App {
  font-family: Helvetica, sans-serif;
  display: grid;
  text-align: center;
  font-weight: bold;
  font-variant: small-caps;
  justify-self: center;
  justify-content: center;
  justify-items: center;
  white-space: pre;
  height: 100vh;
  width: 90%;
}

p {
  text-wrap: wrap;
  margin: 5px;
}

#projects {
  display: grid;
  grid-template-columns: 100%;
  gap: 15px;
  justify-items: center;
  margin: 10px 0;
}

.project {
  background-color: var(--light-color);
  color: var(--dark-color);
  border-radius: 7px;
  display: grid;
  justify-content: stretch;
  width: 100%;
  white-space: pre-wrap;
}

#playParameters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  white-space: pre;
  font-weight: bold;
  font-variant: small-caps;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:active,
a:hover {
  color: rgb(121, 233, 255);
}

.links {
  display: flex;
  flex-direction: row;
  margin: auto;
  font-weight: bold;
  font-variant: small-caps;
  justify-content: space-evenly;
}

.game-image {
  width: 75%;
  aspect-ratio: 4 / 7;
  background-size: cover;
  background-position: center center;
  border-radius: 7px;
  justify-self: center;
}

.crossjig {
  background-image: url("@skedwards88/shared-components/src/images/moreGames/crossjig.webp");
}

.blobble {
  background-image: url("@skedwards88/shared-components/src/images/moreGames/blobble.webp");
}

.lexlet {
  background-image: url("@skedwards88/shared-components/src/images/moreGames/lexlet.webp");
}

.wordfall {
  background-image: url("@skedwards88/shared-components/src/images/moreGames/wordfall.webp");
}

.gribbles {
  background-image: url("@skedwards88/shared-components/src/images/moreGames/gribbles.webp");
}

.logicGrid {
  background-image: url("@skedwards88/shared-components/src/images/moreGames/logicGrid.webp");
}

.dragon {
  background-image: url("@skedwards88/shared-components/src/images/moreGames/dragon.webp");
}

.sector {
  background-image: url("@skedwards88/shared-components/src/images/moreGames/sector.webp");
}

.stars_circles {
  background-image: url("@skedwards88/shared-components/src/images/moreGames/stars_circles.webp");
}

.words {
  background-image: url("@skedwards88/shared-components/src/images/moreGames/words.webp");
}

.monkeys {
  background-image: url("./images/monkeys.png");
  width: 70%;
  aspect-ratio: 1/1;
}

.appStoreButtons {
  display: grid;
  grid-template-areas:
    "google apple pwa"
    "gcoming acoming pcoming";
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  margin: 10px;
  row-gap: 0;
  align-items: start;
}

.appStoreButton {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 180px;
  aspect-ratio: 3 / 1;
}

.appStoreButton:disabled {
  opacity: 0.4;

  /* Since this case is a button instead of a link, need to remove some button styling */
  border: none;
  background-color: transparent;
  margin-bottom: 0;
}

.appStoreButtons > p {
  margin: 0;
  font-size: xx-small;
}

#googlePlayStore {
  background-image: url("@skedwards88/shared-components/src/images/appStores/google.png");
  grid-area: google;
}

#googlePlayStore + p {
  grid-area: gcoming;
}

#appleAppStore {
  background-image: url("@skedwards88/shared-components/src/images/appStores/apple_black.svg");
  grid-area: apple;
}

#appleAppStore + p {
  grid-area: acoming;
}

#pwa {
  background-image: url("./images/pwa.svg");
  grid-area: pwa;

  /* Unset some button styling */
  background-color: transparent;
  border: none;
  padding: 0;
}

/* larger screens */
@media (min-width: 500px) {
  #projects {
    grid-template-columns: 50% 50%;
    max-width: 900px;
    gap: 25px;
  }
}
