#root {
  background-color: rgb(235, 235, 235);
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  margin: 10px;
  text-align: center;
  justify-items: center;
  white-space: pre-line;

}

.item {
  background-color: lightblue;
}

.connection {
  background-color: lightpink;
}
