.App {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  margin: 10px;
}

h1, h2, p {
  text-align: center;
}

#projects {
  display: grid;
  grid-template-columns: 100%;
  gap: 50px;
}

.project {
  border: 2px solid black;
  margin: 3px;
  padding: 20px;
}

.iconLinks {
  display: grid;
  color: transparent;
  /* width: fit-content; */
  margin: auto;
  width: 100%;
}

.iconLinks:hover {
  color: black;
}

a {
  color: inherit;
}

.icon, .links {
  grid-column: 1;
  grid-row: 1;
}

.links {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-weight: bold;
}

.icon:hover {
  opacity: .3;
}

/* .links :nth-child(odd) {
  margin-bottom: 20px;
} */

.icon {
  width: 100%;
}

/* larger screens */
@media (min-width: 500) {
  #projects {
    grid-template-columns: 50% 50%;
  }
}